h1,h2,h3,h4,h5,h6{
    margin-bottom: 0;
}

body{
    background: #ffffff;
    color: #656e88;
}

.main-content{
    background: #e8eaed;
    min-height: 100vh;
}

.nav-link{
    color: #000000;
    opacity: 0.6;
    padding: 1em 0;
}


.nav-link:hover{
    color: #000000;
    opacity: 1;
}

.nav-link.active{
    color: #000000;
    opacity: 1;
    font-weight: bold;
}

.card-header h3{
    font-size: 1em;
    letter-spacing: 1px;
}

table.table tr th{
    color: #13121273;
}

table.table tr td{
    color: #13121273;
    font-size: 0.9em;
    vertical-align: middle;
}

.pagination{
    justify-content: center;
    align-items: center;
}

.form-group label{
    margin-bottom: 0;
    font-weight: bold;
}

.icon-menu{
    margin-right: 2em;
    margin-top: 10px;
}
